[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
requests = "*"
python-dotenv = "*"
apache-airflow = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
apache-airflow = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"
